<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="unit-0">

  <xacro:property name="base_length" value="1" />
  <xacro:property name="base_width" value="1" />
  <xacro:property name="base_height" value="0.3" />
  <xacro:property name="base_mass" value="80" />

  <xacro:property name="wheel_radius" value="0.35" />
  <xacro:property name="wheel_length" value="0.5" />
  <xacro:property name="wheel_mass" value="20" />
  <xacro:property name="wheel_height_offset" value="0.3" />

  <xacro:property name="waist_radius" value="0.15" />
  <xacro:property name="waist_length" value="0.25" />
  <xacro:property name="waist_mass" value="20" />

  <xacro:property name="chest_radius" value="0.4" />
  <xacro:property name="chest_length" value="0.6" />
  <xacro:property name="chest_mass" value="40" />

  <xacro:property name="neck_radius" value="0.1" />
  <xacro:property name="neck_length" value="0.15" />
  <xacro:property name="neck_mass" value="5" />

  <xacro:property name="head_length" value="0.5" />
  <xacro:property name="head_width" value="0.5" />
  <xacro:property name="head_height" value="0.2" />
  <xacro:property name="head_mass" value="15" />

  <xacro:property name="shoulder_radius" value="0.1" />
  <xacro:property name="shoulder_length" value="0.15" />
  <xacro:property name="shoulder_mass" value="5" />

  <xacro:property name="upper_arm_length" value="0.15" />
  <xacro:property name="upper_arm_width" value="0.7" />
  <xacro:property name="upper_arm_height" value="0.15" />
  <xacro:property name="upper_arm_mass" value="10" />

  <xacro:property name="lower_arm_length" value="0.15" />
  <xacro:property name="lower_arm_width" value="0.5" />
  <xacro:property name="lower_arm_height" value="0.15" />
  <xacro:property name="lower_arm_mass" value="10" />

  <xacro:property name="hand_base_radius" value="0.1" />
  <xacro:property name="hand_base_length" value="0.1" />
  <xacro:property name="hand_base_mass" value="2" />

  <link name="base_link">
    <visual>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${base_mass}"/>
      <inertia
          ixx="${base_mass*(base_width*base_width+base_height*base_height)/12}" ixy="0.0" ixz="0.0"
          iyy="${base_mass*(base_length*base_length+base_height*base_height)/12}" iyz="0.0"
          izz="${base_mass*(base_length*base_length+base_width*base_width)/12}"
      />
    </inertial>
  </link>

  <link name="left_front_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </collision>
    <inertial>
      <mass value="${wheel_mass}"/>
      <inertia
          ixx="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" iyz="0.0"
          izz="${wheel_mass*(wheel_radius*wheel_radius)/2}"
      />
    </inertial>
  </link>

  <joint name="left_front_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_front_wheel"/>
    <axis xyz="0 1 0"/>
    <origin xyz="${base_length/2+0.1} ${base_width/2+wheel_length/2+0.1} -${wheel_height_offset}" rpy="0 0 0"/>
  </joint>

  <link name="right_front_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </collision>
    <inertial>
      <mass value="${wheel_mass}"/>
      <inertia
          ixx="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" iyz="0.0"
          izz="${wheel_mass*(wheel_radius*wheel_radius)/2}"
      />
    </inertial>
  </link>

  <joint name="right_front_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_front_wheel"/>
    <axis xyz="0 1 0"/>
    <origin xyz="${base_length/2+0.1} -${base_width/2+wheel_length/2+0.1} -${wheel_height_offset}" rpy="0 0 0"/>
  </joint>

  <link name="left_rear_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </collision>
    <inertial>
      <mass value="${wheel_mass}"/>
      <inertia
          ixx="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" iyz="0.0"
          izz="${wheel_mass*(wheel_radius*wheel_radius)/2}"
      />
    </inertial>
  </link>

  <joint name="left_rear_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_rear_wheel"/>
    <axis xyz="0 1 0"/>
    <origin xyz="-${base_length/2+0.1} ${base_width/2+wheel_length/2+0.1} -${wheel_height_offset}" rpy="0 0 0"/>
  </joint>

  <link name="right_rear_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin xyz="0 0 0.0" rpy="1.57 0.0 0.0"/>
    </collision>
    <inertial>
      <mass value="${wheel_mass}"/>
      <inertia
          ixx="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)/12}" iyz="0.0"
          izz="${wheel_mass*(wheel_radius*wheel_radius)/2}"
      />
    </inertial>
  </link>

  <joint name="right_rear_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_rear_wheel"/>
    <axis xyz="0 1 0"/>
    <origin xyz="-${base_length/2+0.1} -${base_width/2+wheel_length/2+0.1} -${wheel_height_offset}" rpy="0 0 0"/>
  </joint>
  
  <link name="waist">
    <inertial>
      <mass value="${waist_mass}"/>
      <inertia
          ixx="${waist_mass*(3*waist_radius*waist_radius+waist_length*waist_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${waist_mass*(3*waist_radius*waist_radius+waist_length*waist_length)/12}" iyz="0.0"
          izz="${waist_mass*(waist_radius*waist_radius)/2}"
      />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 ${waist_length/2}" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${waist_radius}" length="${waist_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 ${waist_length/2}" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${waist_radius}" length="${waist_length}"/>
      </geometry>
    </collision>
  </link>

  <joint name="waist_joint" type="fixed">
    <parent link="base_link"/>
    <child link="waist"/>
    <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
  </joint>
  
  <link name="chest">
    <inertial>
      <mass value="${chest_mass}"/>
      <inertia
          ixx="${chest_mass*(3*chest_radius*chest_radius+chest_length*chest_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${chest_mass*(3*chest_radius*chest_radius+chest_length*chest_length)/12}" iyz="0.0"
          izz="${chest_mass*(chest_radius*chest_radius)/2}"
      />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${chest_radius}" length="${chest_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${chest_radius}" length="${chest_length}"/>
      </geometry>
    </collision>
  </link>

  <joint name="chest_joint" type="continuous">
    <parent link="waist"/>
    <child link="chest"/>
    <origin xyz="0 0 ${waist_length+chest_length/2}" rpy="0 0 0"/>
  </joint>
  
  <link name="neck">
    <inertial>
      <mass value="${neck_mass}"/>
      <inertia
          ixx="${neck_mass*(3*neck_radius*neck_radius+neck_length*neck_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${neck_mass*(3*neck_radius*neck_radius+neck_length*neck_length)/12}" iyz="0.0"
          izz="${neck_mass*(neck_radius*neck_radius)/2}"
      />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 ${neck_length/2}" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${neck_radius}" length="${neck_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 ${neck_length/2}" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${neck_radius}" length="${neck_length}"/>
      </geometry>
    </collision>
  </link>

  <joint name="neck_joint" type="fixed">
    <parent link="chest"/>
    <child link="neck"/>
    <origin xyz="0 0 ${chest_length/2}" rpy="0 0 0"/>
  </joint>

  <link name="head">
    <visual>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${head_length} ${head_width} ${head_height}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${head_length} ${head_width} ${head_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${head_mass}"/>
      <inertia
          ixx="${head_mass*(head_width*head_width+head_height*head_height)/12}" ixy="0.0" ixz="0.0"
          iyy="${head_mass*(head_length*head_length+head_height*head_height)/12}" iyz="0.0"
          izz="${head_mass*(head_length*head_length+head_width*head_width)/12}"
      />
    </inertial>
  </link>

  <joint name="head_joint" type="continuous">
    <parent link="neck"/>
    <child link="head"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 ${neck_length+head_height/2}" rpy="0 0 0"/>
  </joint>
  
  <link name="left_shoulder">
    <inertial>
      <mass value="${shoulder_mass}"/>
      <inertia
          ixx="${shoulder_mass*(3*shoulder_radius*shoulder_radius+shoulder_length*shoulder_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${shoulder_mass*(3*shoulder_radius*shoulder_radius+shoulder_length*shoulder_length)/12}" iyz="0.0"
          izz="${shoulder_mass*(shoulder_radius*shoulder_radius)/2}"
      />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0" rpy="1.57 0.0 0.0"/>
      <geometry>
        <cylinder radius="${shoulder_radius}" length="${shoulder_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${shoulder_radius}" length="${shoulder_length}"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_shoulder_joint" type="continuous">
    <parent link="chest"/>
    <child link="left_shoulder"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 ${chest_radius+shoulder_length/2} ${chest_length/2-shoulder_radius}" rpy="0 0 0"/>
  </joint>

  <link name="left_upper_arm">
    <visual>
      <origin xyz="0.0 ${upper_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${upper_arm_length} ${upper_arm_width} ${upper_arm_height}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 ${upper_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${upper_arm_length} ${upper_arm_width} ${upper_arm_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${upper_arm_mass}"/>
      <inertia
          ixx="${upper_arm_mass*(upper_arm_width*upper_arm_width+upper_arm_height*upper_arm_height)/12}" ixy="0.0" ixz="0.0"
          iyy="${upper_arm_mass*(upper_arm_length*upper_arm_length+upper_arm_height*upper_arm_height)/12}" iyz="0.0"
          izz="${upper_arm_mass*(upper_arm_length*upper_arm_length+upper_arm_width*upper_arm_width)/12}"
      />
    </inertial>
  </link>

  <joint name="left_upper_arm_joint" type="continuous">
    <parent link="left_shoulder"/>
    <child link="left_upper_arm"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0 ${shoulder_length/2+upper_arm_length/2} 0" rpy="0 0 0"/>
  </joint>

  <link name="left_lower_arm">
    <visual>
      <origin xyz="0.0 ${lower_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${lower_arm_length} ${lower_arm_width} ${lower_arm_height}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 ${lower_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${lower_arm_length} ${lower_arm_width} ${lower_arm_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${lower_arm_mass}"/>
      <inertia
          ixx="${lower_arm_mass*(lower_arm_width*lower_arm_width+lower_arm_height*lower_arm_height)/12}" ixy="0.0" ixz="0.0"
          iyy="${lower_arm_mass*(lower_arm_length*lower_arm_length+lower_arm_height*lower_arm_height)/12}" iyz="0.0"
          izz="${lower_arm_mass*(lower_arm_length*lower_arm_length+lower_arm_width*lower_arm_width)/12}"
      />
    </inertial>
  </link>

  <joint name="left_lower_arm_joint" type="continuous">
    <parent link="left_upper_arm"/>
    <child link="left_lower_arm"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 ${upper_arm_width+lower_arm_length/2} 0" rpy="0 0 0"/>
  </joint>
  
  <link name="right_shoulder">
    <inertial>
      <mass value="${shoulder_mass}"/>
      <inertia
          ixx="${shoulder_mass*(3*shoulder_radius*shoulder_radius+shoulder_length*shoulder_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${shoulder_mass*(3*shoulder_radius*shoulder_radius+shoulder_length*shoulder_length)/12}" iyz="0.0"
          izz="${shoulder_mass*(shoulder_radius*shoulder_radius)/2}"
      />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0" rpy="1.57 0.0 0.0"/>
      <geometry>
        <cylinder radius="${shoulder_radius}" length="${shoulder_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${shoulder_radius}" length="${shoulder_length}"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_shoulder_joint" type="continuous">
    <parent link="chest"/>
    <child link="right_shoulder"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 -${chest_radius+shoulder_length/2} ${chest_length/2-shoulder_radius}" rpy="0 0 0"/>
  </joint>

  <link name="right_upper_arm">
    <visual>
      <origin xyz="0.0 -${upper_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${upper_arm_length} ${upper_arm_width} ${upper_arm_height}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 -${upper_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${upper_arm_length} ${upper_arm_width} ${upper_arm_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${upper_arm_mass}"/>
      <inertia
          ixx="${upper_arm_mass*(upper_arm_width*upper_arm_width+upper_arm_height*upper_arm_height)/12}" ixy="0.0" ixz="0.0"
          iyy="${upper_arm_mass*(upper_arm_length*upper_arm_length+upper_arm_height*upper_arm_height)/12}" iyz="0.0"
          izz="${upper_arm_mass*(upper_arm_length*upper_arm_length+upper_arm_width*upper_arm_width)/12}"
      />
    </inertial>
  </link>

  <joint name="right_upper_arm_joint" type="continuous">
    <parent link="right_shoulder"/>
    <child link="right_upper_arm"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0 -${shoulder_length/2+upper_arm_length/2} 0" rpy="0 0 0"/>
  </joint>

  <link name="right_lower_arm">
    <visual>
      <origin xyz="0.0 -${lower_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${lower_arm_length} ${lower_arm_width} ${lower_arm_height}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 -${lower_arm_width/2} 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="${lower_arm_length} ${lower_arm_width} ${lower_arm_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${lower_arm_mass}"/>
      <inertia
          ixx="${lower_arm_mass*(lower_arm_width*lower_arm_width+lower_arm_height*lower_arm_height)/12}" ixy="0.0" ixz="0.0"
          iyy="${lower_arm_mass*(lower_arm_length*lower_arm_length+lower_arm_height*lower_arm_height)/12}" iyz="0.0"
          izz="${lower_arm_mass*(lower_arm_length*lower_arm_length+lower_arm_width*lower_arm_width)/12}"
      />
    </inertial>
  </link>

  <joint name="right_lower_arm_joint" type="continuous">
    <parent link="right_upper_arm"/>
    <child link="right_lower_arm"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 -${upper_arm_width+lower_arm_length/2} 0" rpy="0 0 0"/>
  </joint>
  
  <link name="left_hand_base">
    <inertial>
      <mass value="${hand_base_mass}"/>
      <inertia
          ixx="${hand_base_mass*(3*hand_base_radius*hand_base_radius+hand_base_length*hand_base_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${hand_base_mass*(3*hand_base_radius*hand_base_radius+hand_base_length*hand_base_length)/12}" iyz="0.0"
          izz="${hand_base_mass*(hand_base_radius*hand_base_radius)/2}"
      />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0" rpy="1.57 0.0 0.0"/>
      <geometry>
        <cylinder radius="${hand_base_radius}" length="${hand_base_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${hand_base_radius}" length="${hand_base_length}"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_hand_base_joint" type="continuous">
    <parent link="left_lower_arm"/>
    <child link="left_hand_base"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 ${lower_arm_width+hand_base_length/2} 0" rpy="0 0 0"/>
  </joint>
  
  <link name="right_hand_base">
    <inertial>
      <mass value="${hand_base_mass}"/>
      <inertia
          ixx="${hand_base_mass*(3*hand_base_radius*hand_base_radius+hand_base_length*hand_base_length)/12}" ixy="0.0" ixz="0.0"
          iyy="${hand_base_mass*(3*hand_base_radius*hand_base_radius+hand_base_length*hand_base_length)/12}" iyz="0.0"
          izz="${hand_base_mass*(hand_base_radius*hand_base_radius)/2}"
      />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0" rpy="1.57 0.0 0.0"/>
      <geometry>
        <cylinder radius="${hand_base_radius}" length="${hand_base_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="${hand_base_radius}" length="${hand_base_length}"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_hand_base_joint" type="continuous">
    <parent link="right_lower_arm"/>
    <child link="right_hand_base"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 -${lower_arm_width+hand_base_length/2} 0" rpy="0 0 0"/>
  </joint>

</robot>
